

<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">

            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Contact</span>
                    <table>
                        <tbody>
                            <tr>
                                <th> First Name </th>
                                <th><input type="text" ng-model="addContactCtrl.first_name"></th>
                            </tr>
                        <tr>
                                <th> Last Name: </th>
                                <th><input type="text" ng-model="addContactCtrl.last_name"></th>
                        </tr>

                        <tr>

                                <th> option: </th>
                                <th><input type="text" ng-model="addContactCtrl.target"></th>
                        </tr>

                        </tbody>

                    </table>
                    <select id="s" class="browser-default">
    <option value="email">Email</option>
    <option value="phone">Phone</option>
  </select>

                </div>

                <div class="card-action">

                    &nbsp; &nbsp;
                    <a class="waves-effect  red lighten-1 btn-small" ng-click="addContactCtrl.addContact()">Create</a>

                     <a class="waves-effect  grey btn-small" href="#/groups.html">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>


